{% extends 'base.html'%}

{% block title %}{{ month|date:"F Y" }} budget{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <ul>
            {% for article in object_list %}
                <li>{{ article.date|date:"F j, Y" }}: {{ article.value }}</li>
            {% endfor %}
        </ul>

        <p>
            {% if previous_month %}
                Previous Month: <a href="{% url "calculator:income_month" previous_month|date:'Y' previous_month|date:'m' %}">{{ previous_month|date:"F Y" }}</a>
            {% endif %}
            {% if next_month %}
                Next Month: <a href="{% url "calculator:income_month" next_month|date:'Y' next_month|date:'m' %}">{{ next_month|date:"F Y" }}</a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}