{% extends 'base.html' %}
{% block title %}List of Expenses{% endblock %}
{% block static %}
     <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    {% if budgetexpenses_list %}
     <table id="table" class="table table-responsive table-hover">
        <caption>Expenses</caption>
        <thead>
            <tr>
                <th>Value</th>
                <th>Category</th>
                <th>Date</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        {% for budget in budgetexpenses_list %}
            <tr>
                <th>{{ budget.value }} </th>
                <th>{{ budget.get_category_display }}</th>
                <th>{{ budget.date }}</th>
                <th><a class="btn btn-info" href="{% url 'calculator:expenses_detail' budget.pk %}">Details</a></th>
                <th><a class="btn btn-danger" href="{% url 'calculator:expenses_delete' budget.pk %}">Delete</a></th>
            </tr>
        {% endfor %}
    </table>
    <h3>Total: {{ total_exp }}</h3>
    {% else %}
    <h3>You have no expenses yet</h3>
    {% endif %}
    </div>
{% include 'calculator/paginator.html' %}
</div>
<script>
    $(document).ready(function() {
        $('#table').DataTable({
            "bPaginate": false,
            "bInfo": false,
            "bFilter": false,
            "bSort": true
        });
    } );
</script>
{% endblock %}