{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>UNDER MAINTANCE</h1>
        <p>Delete and changing abilites will be added soon</p><!--TODO This need to be done-->
        <h1>Expenses detail</h1>
        <p>ID: {{ budgetincome.pk }}, {{ budgetincome.value }}</p>

        <form method="post" action="">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>
        <!--TODO Make sorting, add different charts-->
    </div>
</div>
{% endblock %}