{% extends 'base.html' %}

{% block title %}MyBudget{% endblock %}
{% block static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h3>User: {{ request.user }}</h3>
        <h3>Your budget: {{ budget }}</h3>
    </div>
    <div class="row" style="margin-bottom: 15px;">
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger"> {{ msg }}</div>
        {% endfor %}
    {% endif %}
    <div class="col-md-4 col-md-offset-1">
        <h3>Income:</h3>
        <form method="post" action="{%url 'calculator:income_form_handler'%}">
            {% csrf_token %}

            <div class="form-group">
                <label for='id_value'>Value:</label>
                <input class="form-control" id='id_value' name='value' type="number" value="0" step="0.01" required>
            </div>
            <div class="form-group">
                <label for='id_category'>Category:</label>
                <select class="form-control" id="id_category" name="category" required>
                    <option value="SL">Salary</option>
                    <option value="DP">Deposit</option>
                    <option value="OT">Other</option>
                </select>
            </div>
            <button type='submit' class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="col-md-4 col-md-offset-1">
        <h3>Expenses:</h3>
        <form method="post" action="{%url 'calculator:expenses_form_handler'%}">
            {% csrf_token %}
            <div class="form-group">
                <label for='id_value_exp'>Value:</label>
                <input class="form-control" id='id_value_exp' name="value" type="number" value="0" step="0.01" required>
            </div>
            <div class="form-group">
                <label for='id_category_exp'>Category:</label>
                <select class="form-control" id="id_category_exp" name="category" required>
                    <option value="FD">Food</option>
                    <option value="CL">Clothes</option>
                    <option value="EN">Entertainment</option>
                    <option value="BL">Bills</option>
                    <option value="OT">Other</option>
                </select>
            </div>
            <button type='submit' class="btn btn-primary">Submit</button>
        </form>
        </div>
        </div>
    <div class="row">
    <div class="col-md-7">
    {% if income %}
    <table class="table table-hover">
        <caption>Income(Last 5 changes)</caption>
        <thead>
            <tr>
                <th>Value</th>
                <th>Category</th>
                <th>Date</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        {% for inc in income %}
            <tr>
                <th>{{ inc.value }} </th>
                <th>{{ inc.get_category_display }}</th>
                <th>{{ inc.date }}</th>
                <th><a class="btn btn-info" href="{% url 'calculator:income_detail' inc.pk %}">Detail</a></th>
                <th><a class="btn btn-danger" href="{% url 'calculator:income_delete' inc.pk %}">Delete</a></th>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    You have no income yet.
    {% endif %}
    <hr>

    {% if expenses %}
        <table class="table table-hover">
            <caption>Expenses(Last 5 changes)</caption>
            <thead>
                <tr>
                    <th>Value</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Details</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {% for exp in expenses %}
                <tr>
                    <th>{{ exp.value }} </th>
                    <th>{{ exp.get_category_display }}</th>
                    <th>{{ exp.date }}</th>
                    <th><a class="btn btn-info" href="{% url 'calculator:expenses_detail' exp.pk %}">Detail</a></th>
                    <th><a class="btn btn-danger" href="{% url 'calculator:expenses_delete' exp.pk %}">Delete</a></th>
                </tr>
            {% endfor %}
        </table>
    {% else %}
    You have no expenses yet.
    {% endif %}
    </div>
    <div class="col-md-5">
        <canvas id="myChart"></canvas>
        <script>
            var data = {
                labels: ["Income", "Expenses"],
                datasets:[{
                    data:[{{ total_inc }}, {{ total_exp }}],
                    backgroundColor: [
                        "#FF6384",
                        "#36A2EB"
                    ],
                    hoverBackgroundColor: [
                        "#FF6384",
                        "#36A2EB"
                    ]
                }]
            };
            var ctx = document.getElementById('myChart');
            var pieChart = new Chart(ctx,{
                type: 'pie',
                data: data,
                options:{
                    responsiveAnimationDuration: 1000,
                    animation:{
                        animateScale: true
                    }
                }
            });
        </script>
    </div>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
