{% extends "base.html" %}
{% block title %}Blog{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if blog_posts %}
            {% for post in blog_posts%}
                <article class="col-md-8 col-md-offset-2">
                    <div class="thumbnail">
                        <div class="caption">
                        <h1>{{ post.title }}</h1>
                        {% if post.pub_date == post.last_modified %}
                        <h6>publicated: {{ post.pub_date }}</h6>
                        {% else %}
                        <h6 style='color: #b2b1b1;'>edited: {{ post.last_modified }}</h6>
                        {% endif %}
                        <p>{{ post.text }}</p>
                        </div>
                    </div>
                </article>
            {% endfor %}
        {% else %}
        <div class="container">
            <div class="row">
            <article class="col-md-8 col-md-offset-2">
                <h1>There is no posts here</h1>
            </article>
        </div>
    </div>
        {% endif %}

    </div>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="row">
        <form action="{% url "feedback:form_handler" %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-primary" type="submit" style="margin-top: 10px;">
        </form>
    </div>
</div>
{% endblock %}
