{% extends "base.html" %}
{% load static %}

{% block title %}Moneycalc - the application for tracking your pocket budget{% endblock title %}

{% block static %}<link type="text/css" rel="stylesheet" href="{% static 'css/index.css'%}" />{% endblock static %}

{% block content %}
  <div class="jumbotron">
    <div class="container-fluid">
      <h1>Moneycalc</h1>
      <p>The application for tracking your pocket budget</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row text-center" style="margin: 5rem">
      <div class="col-md-3 col-md-offset-1">
        <div class="box">
            <i style="color:lightslategray" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
        </div>
        <h3>You can check how much money you spent while shopping this day/week/month/year</h3>
      </div>
      <div class="col-md-3">
        <div class="box">
            <i style="color: green" class="glyphicon glyphicon-ok" aria-hidden="true"></i>
        </div>
        <h3>Your helper that always with you in your pocket</h3>
      </div>
      <div class="col-md-3">
        <div class="box">
            <i style="color: lightsteelblue;" class="glyphicon glyphicon-cog" aria-hidden="true"></i>
        </div>
        <h3>Control your finances and tweak it in real time</h3>
      </div>
    </div>
    <div style="margin-bottom: 2rem" class="row">
      <div class="container">
        <h2 class="text-center">Please, contact us if you have any troubles with our app</h2>
        <form action="{% url 'feedback:form_handler' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">Send feedback</button>
        </form>
      </div>
    </div>
    <div style="background:#f8f8f8; padding: 2rem;" class="row text-center">
      <strong>&copy; All rights reserved. Made by Smertelny</strong>
    </div>
  </div>
  
{% endblock content %}
{% block javascript-bottom %}<script src="{% static "js/index.js" %}"></script>{% endblock %}